{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    <div class="justify-content-center gurizone-login p-lg-4 m-lg-5 p-md-4 m-md-3 p-sm-4 m-sm-5">
        <h1 class="text-center">Crear cuenta</h1>

    {{ form_start(registrationForm) }}
        <div class="form-group">
            <span class="text-black">{{ form_label(registrationForm.nombre) }}</span><span class="text-danger"> *</span>
            {{ form_widget(registrationForm.nombre,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            <span class="text-black">{{ form_label(registrationForm.apellidos) }}</span><span class="text-danger"> *</span>
            {{ form_widget(registrationForm.apellidos,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            <span class="text-black">{{ form_label(registrationForm.email) }}</span><span class="text-danger"> *</span>
            {{ form_widget(registrationForm.email,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            <span class="text-black">{{ form_label(registrationForm.plainPassword) }}</span><span class="text-danger"> *</span>
            {{ form_widget(registrationForm.plainPassword,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            <span class="text-black">{{ form_label(registrationForm.agreeTerms) }}</span><span class="text-danger"> *</span>
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Crear cuenta en GuriZone</button>
        </div>
    {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
