{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}
<div class="">
    <div class="justify-content-center gurizone-login p-lg-3 m-lg-2 p-md-4 m-md-3 p-sm-4 m-sm-5 table-bordered">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 border p-4 rounded mb-4 ml-3">
                <!--FILTRO CATEGORIA-->
                <div class="btn-group mr-1 ml-md-auto float-right">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Filtrar por Categoria</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                        <a class="dropdown-item" href="{{ url('producto_shop') }}?categoria=todo">Todo</a>
                        <a class="dropdown-item" href="{{ url('producto_shop') }}?categoria=accesorios">Accesorios</a>
                        <a class="dropdown-item" href="{{ url('producto_shop') }}?categoria=ropa">Ropa</a>
                        <a class="dropdown-item" href="{{ url('producto_shop') }}?categoria=zapatillas">Zapatillas</a>
                    </div>
                </div>
                <!--FIN FILTRO CATEGORIA-->
                <!--FILTRO FECHA-->
                <div>
                    <div class="mt-4">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Filtrar por fecha</h3>
                        {{ include('producto/date_filter.html.twig') }}
                    </div>
                </div>
                <!--FIN FILTRO FECHA-->
            </div>
        </div>

        <!--FILTRO TABLA PRODUCTOS-->

        <div class="table-responsive">
            <table class="table table-hover table-sm table-responsive-sm table-responsive-md">
                <thead class="thead-dark sticky-top">
                    <tr>
                        <th>IdProd</th>
                        <th>ModeloProd</th>
                        <th>MarcaProd</th>
                        <th>Color</th>
                        <th>ColorDisp</th>
                        <th>Talla</th>
                        <th>TallaDisp</th>
                        <th>StockProd</th>
                        <th>NumVentasProd</th>
                        <th>FechaSalida</th>
                        <th>PrecioUnidad</th>
                        <th>FotoProd</th>
                        <th>Descripcion</th>
                        <th>Descatalogado</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for producto in paginator.results %}
                    <tr>
                        <td>{{ producto.idProd }}</td>
                        <td>{{ producto.modeloProd }}</td>
                        <td>{{ producto.marcaProd }}</td>
                        <td>{{ producto.color }}</td>
                        <td>{{ producto.colorDisp }}</td>
                        <td>{{ producto.talla }}</td>
                        <td>{{ producto.tallaDisp }}</td>
                        <td>{{ producto.stockProd }}</td>
                        <td>{{ producto.numVentasProd }}</td>
                        <td>{{ producto.fechaSalida ? producto.fechaSalida|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ producto.precioUnidad }}</td>
                        <td>{{ producto.fotoProd }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.descatalogado ? 'Yes' : 'No' }}</td>
                        <td>
                            <div>
                                <a href="{{ path('producto_edit', {'idProd': producto.idProd}) }}"><button type="button" class="btn btn-primary mb-3">Editar</button></a>
                            </div>
                            <div>
                                <form method="post" action="{{ path('producto_delete', {'idProd': producto.idProd}) }}" onsubmit="return confirm('Estás seguro de que quieres borrar este usuario?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ producto.idProd) }}">
                                    <button class="btn btn-danger">Eliminar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="15">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    <a href="{{ path('producto_new') }}">Create new</a>
        <!--PAGINACION:-->

        {% if paginator.toPaginate %}
            <div class="row" data-aos="fade-up">
                <div class="col-md-12 text-center">
                    <div class="site-block-27">
                        <ul>
                            {% if paginator.previousPage %}
                                <li class="prev"><a href="{{ path('producto_index_paginated', {page: paginator.previousPage}|merge(query)) }}" rel="previous"><</a></li>
                            {% else %}
                                <li class="prev disabled"><span><</span></li>
                            {% endif %}

                            {% for i in 1..paginator.lastPage %}
                                {% if i == paginator.currentPage %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">{{ paginator.currentPage }}</span></span></li>
                                {% else %}
                                    <li><a href="{{ path('producto_index_paginated', {page: i}|merge(query)) }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if paginator.hasNextPage %}
                                <li class="prev"><a href="{{ path('producto_index_paginated', {page: paginator.nextPage}|merge(query)) }}" rel="previous">></a></li>
                            {% else %}
                                <li class="next disabled"><span>></span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        <!--FIN PAGINACION-->
    </div>
</div>
{% endblock %}
